
#header{
    width: 100%;
    position: fixed;
    margin-top: 10px;
    z-index: 1;
    box-shadow: 0 0 20px 0;
    .logo{
        padding-left:20px;
    }
    .nav{
     ul{
     li{
         padding: 15px;
         color:#fff ;
        }   
     }  
    }
    .ico{
        color: #fff;
        padding-left: 20px;
        i{
            padding: 0 10px;
            font-size: large;
        }
    }
}
.beauty{
 height: 100vh;
display: flex;
align-items: center;
color: #fff;
 width: 100%;
    background: url(../photo/travel2-sectionbg2.jpg);
.beuty-text{
    h1{
        font-size: 5em;
        padding: 0 5.6em;
    }
}
}
.location{
    background: #F7F6F2;
    
    h1{
        
        color: #2E2D2D;
        font-size: 40px;
        margin-right:6em;
        line-height: 51px;
        font-family: "PT Serif", Helvetica, Arial, sans-serif;
    }
    p{
        margin:30px 70px;
        font-size: 1.3em;
        color: #979795;
    }
    .loca{
        margin-top: 4em;
        img{
            padding-top:30px ;
        }
        
    }
    .map{
        margin-top: 5em;
    }
}
.dstrict{

    background: #F7F6F2;
    overflow: hidden;
    padding: 4em 0;
    h2{
       padding: 10px 10px;
        font-size: 43px;
        font-weight: 400;
    line-height: 51px;
    
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    }
    .dstrict-itm{
        overflow: hidden;
    h3{
        padding-top: 20px ;
        font-size: 26px;
    } 
    h4{
        padding-top: 15px ;
        font-size: 20px;
        color: #D5823D;
    }
    p{
        font-size: 20px;
        padding: 10px 0;
        color: rgb(104, 102, 102);
        font-family: "PT Serif", Helvetica, Arial, sans-serif;
    }
    .dstrict-img{
        overflow: hidden;
        vertical-align: middle;
    img{
        transition:.3s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
}
}
}
.page{
    // height: 100vh;
   
    background: url(../photo/travel2-places-pic3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
    min-height: 754px;
}
.wrap{
    background: #F7F6F2;
    h2{
        padding-top: 20px;
        padding-right: 7
        0px;
        font-size: 43px;
    line-height: 51px;
    font-weight: 400;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
 }
    .wrap-img{
        text-align: center;
        flex-wrap: wrap;
        //  margin: 30px;
        padding: 40px 40px;
      .wrap-itm{
        padding: 20px;
          &:hover{
              background: #F2EFE9;
          }
        h5{
            padding: 20px 0;
            color: #E38430;
            font-size: 18px;
        }
    }
}}
.about{
    background: #F7F6F2;
    h1{padding:10px 30px;
        color:rgb(78, 77, 77);
        font-size: 15px;
        span{
            color: #D5823D;
            
        }
    }
    h2{
        padding: 30px;
        font-size: 43px;
        line-height: 51px;
        font-weight: 400;
        font-family: "PT Serif", Helvetica, Arial, sans-serif;
    }
    p{
        padding:0 100px;
        font-size: 17px;
        line-height: 22px;
    }

    .about-itm{
        padding: 30px;
        text-align: center;
        img{
            padding-bottom: 15px;
        }
        h3{
            padding-top: 20px;
            font-size: 31px;
            line-height: 39px;
            font-weight: 400;
            font-family: "PT Serif", Helvetica, Arial, sans-serif;
        }
    }
}